@font-face {
  font-family: "Ticker";
  src: url("/fonts/Ticker.ttf");
}

html,
body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: linear-gradient(#353535, #222);
}

* {
  box-sizing: border-box;
}
